Rugby FL DS

In [17]:
import pandas as pd

results_df = pd.read_csv('results.csv')
results_df.head()

,Game_ID,Championship_ID,Home_Club_ID,Home_Club_AKA,Home_Score,Away_Club_AKA,Away_Score,Away_Club_ID,Game_Date,Game_Time
0,49,9,5,Ft. Lauderdale,21,Miami Tridents,3,6,2012-11-03 00:00:00,2:00 PM
1,50,9,1,Miami Rugby FC,3,Hammerheads,52,13,2012-11-03 00:00:00,2:00 PM
2,51,9,6,Miami Tridents,12,Boca Raton,42,12,2012-11-10 00:00:00,2:00 PM
3,52,9,5,Ft. Lauderdale,30,Miami Rugby FC,20,1,2012-11-10 00:00:00,2:00 PM
4,53,9,12,Boca Raton,15,Hammerheads,29,13,2012-11-17 00:00:00,2:00 PM

In [20]:
def restructure_dataframe(df):
    new_cols = [
        'Game_ID', 'Championship_ID', 'Team_ID', 'Team_Name', 'Team_Score', 
        'Opponent_ID', 'Opponent_Name', 'Opponent_Score', 'Game_Date', 'Is_Home'
    ]
    home_df = df.rename(columns={
        'Home_Club_ID': 'Team_ID',
        'Home_Club_AKA': 'Team_Name',
        'Home_Score': 'Team_Score',
        'Away_Club_ID': 'Opponent_ID',
        'Away_Club_AKA': 'Opponent_Name',
        'Away_Score': 'Opponent_Score'
    })
    home_df['Is_Home'] = True

    away_df = df.rename(columns={
        'Away_Club_ID': 'Team_ID',
        'Away_Club_AKA': 'Team_Name',
        'Away_Score': 'Team_Score',
        'Home_Club_ID': 'Opponent_ID',
        'Home_Club_AKA': 'Opponent_Name',
        'Home_Score': 'Opponent_Score'
    })
    away_df['Is_Home'] = False
    
    restructured_df = pd.concat([home_df, away_df], ignore_index=True)

    # Reorder the columns
    restructured_df = restructured_df[new_cols]

    return restructured_df

results_df = restructure_dataframe(results_df)

In [43]:
# Create a season column, which is the year of the game
results_df['Game_Date'] = pd.to_datetime(results_df['Game_Date'])
results_df['Season'] = results_df['Game_Date'].dt.year

results_df.head()

,Game_ID,Championship_ID,Team_ID,Team_Name,Team_Score,Opponent_ID,Opponent_Name,Opponent_Score,Game_Date,Is_Home,Season
0,49,9,5,Ft. Lauderdale,21,6,Miami Tridents,3,2012-11-03,True,2012
1,50,9,1,Miami Rugby FC,3,13,Hammerheads,52,2012-11-03,True,2012
2,51,9,6,Miami Tridents,12,12,Boca Raton,42,2012-11-10,True,2012
3,52,9,5,Ft. Lauderdale,30,1,Miami Rugby FC,20,2012-11-10,True,2012
4,53,9,12,Boca Raton,15,13,Hammerheads,29,2012-11-17,True,2012

In [39]:
import elo

elo_dict = {}
starting_elo = 1500